{% extends "home/home_base.html" %}

{% block style_block %}
    <style type="text/css">
        #map { height: 100vh; }

    </style>
{% endblock %}

{% block content %}
	
    <h1 id="">THIS IS HOME</h1>

    <div>&nbsp;</div>

    <input id='location' type='test' value='England' />
    <button type='button' value='Click' id='go' > Go </button>
    <button type='button' value='Click' id='reset'> Reset Map </button>
  	
    <div>&nbsp;</div>

    <div id="map"></div>

    <div>&nbsp;</div>s


{% endblock content %}
 

{% block tail_script %}
<script src="/static/js/home.js"></script>
{% endblock tail_script %}