{% extends "home/home_base.html" %}

{% block style_block %}
    <style type="text/css">
        #map { height: 100vh; }

    </style>
{% endblock %}

{% block content %}

    <h1 id="">THIS IS HOME</h1>
    <div>&nbsp;</div>
 
  <div id="map"></div>


{% endblock content %}
 

{% block tail_script %}
    <script>
        var map = L.map('map').setView([-37.87, 175.475], 5);
        var tiles = L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', 
            {
                id: 'examples.map-i86nkdio'
            }).addTo(map);
    </script>
{% endblock tail_script %}
