
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */
/*the X on the labels of cities in the Conrol of the Map*/

.label_delete strong{  
	color:red;
}
/* unvisited link */
.label_delete :link {
    color: red;
}

/* visited link */
.label_delete :visited {
    color: red;
}

/* mouse over link */
.label_delete :hover {
    color: red;
}

/* selected link */
.label_delete :active {
    color: red;
}

.leaflet-draw {
	margin-top: 100px !important;
}
.leaflet-draw-actions li a{
	color:white !important;
}

.custom_alert{
position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 50%;
}