{# all main api categories with checkboxes before them #}
{# the categories are collapsable(using bootstrap) #}
{% import '/map_control/misc/select_location.html' as s %}
{% import '/map_control/misc/marker_heatmap_switch.html' as switch %}

{% for main_api_category in template_data.all_api_categories %}

    <div class="panel panel-default">
       <div class="panel-heading" role="tab" id="heading{{loop.index}}">
          <h4 class="panel-title">
          <span>
             <input type="checkbox" class='main_api_category' api="{{main_api_category}}" id='{{main_api_category}}_checkbox'>
             <a id="collapse_{{main_api_category}}_a" class="collapsed api_accordion" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{main_api_category}}_main" aria-expanded="false" aria-controls="collapse_{{main_api_category}}_main"> 
               <span id='span_arrow_collapse_{{main_api_category}}_main' class='glyphicon glyphicon-chevron-right right-side-panel-dropdown'></span> {{main_api_category | capitalize}}{# the name displayed in the control panel #}
               </a>
                <span class='city_label_container' id="city_name_container_{{main_api_category}}">
                    <span class="badge badge-default">London | <a  api='{{main_api_category}}' city="London" class="label_delete" href="#"><strong>✖</strong></a> 
                    </span>
                </span>
             </span>
          </h4>
        </div>
        <div id="collapse_{{main_api_category}}_main" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{loop.index}}">

        <div class="panel-body">
            {{switch.marker_heatmap(main_api_category)}}
            {# use 'ignore missing' so the application doesn't crash if there isn't a specific template for the API#}
            {% include '/map_control/api/'~main_api_category~'.html' ignore missing %} 
          <button id='{{main_api_category}}_update_map' api='{{main_api_category}}' class="update_map_btn btn btn-primary btn-sm" type="submit">Update Map</button>
        </div>
       </div>
    </div>

{% endfor %}