{% import '/map_control/misc/all_uk_checkbox.html' as a %}
{% macro select_location(api, allowed_shapes) -%}
<div id='select_location_{{api}}' role="tabpanel">
<label class="no_select_text" for="search_city_{{api}}">Select for which location to get data</label>
<!-- Nav tabs -->
<!-- Tab panes -->
<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" id="search_api_tab_heading_{{api}}" class="search_api_tab_{{api}} active"><a href="#search_api_tab_{{api}}"   aria-controls="search_api_tab_{{api}}" role="tab" action='search' data-toggle="tab">Search by city name</a></li>
    <li class="draw_api_tab_{{api}}" id="draw_api_tab_heading_{{api}}" role="presentation"><a href="#draw_api_tab_{{api}}" action='draw' aria-controls="draw_api_tab_{{api}}" role="tab" data-toggle="tab">Draw area with mouse</a></li>
    {# include any custom Location selection ways, if available #}
    {% include '/map_control/misc/location/'~api~'_tab.html' ignore missing %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="draw_area_tab tab-pane active fade in" id="search_api_tab_{{api}}" api={{api}}>
        <br>
        <input type="text" class="form-control" placeholder="Type city name here..." id="search_city_{{api}}" value="London">
    </div>
    <div role="tabpanel" class="draw_area_tab tab-pane fade" id="draw_api_tab_{{api}}" api={{api}} allowed_shapes="{%for shape in allowed_shapes%}{{shape}}{%if not loop.last%} {% endif %}{% endfor %}" >
    <br>
        Draw on the map the area you want using your mouse
    </div>
    {% include '/map_control/misc/location/'~api~'_content.html' ignore missing %}

  </div>


 <hr>
</div>

{%- endmacro %}
